#IDE
/nbproject/

#Symfony
/root/web/bundles/
/root/app/bootstrap*
/root/app/cache/*
/root/app/logs/*
/root/vendor/
/root/app/config/parameters.yml
/root/composer.phar

#JS components
/root/web/components/

#Develop
/root/web/dev.php
/logs/*